.navbar-default {
	background: #fff;
	border: 0;
  height: 72px;
  margin-bottom: 0px;
}

.navbar-default ul li {
  margin-top: 16px;
}

.navbar-default ul li a:hover {
  border-bottom: 2px solid #039C7E;
  font-color: #040607;
  font-weight: bold;
}

.jumbotron {
	background: #039C7E;
	color: white;
	text-align: left;
  margin-bottom: 0px;
}

.jumbotron p {
	color: white;
	font-size: 24px;
  font-weight: 100;
}

.jumbotron .btn-primary {
  display: inline-block;
  background: none;
	border-color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.btn-primary:hover {
	color: #27A967;
	background-color: white;
	border-color: white;
}

body {
	background: #3E4649;
	color: #f7f7f7;
	font-family: 'Roboto', sans-serif;
  }

h1, h2 {
	font-weight: bold;
  font-family: "Roboto", sans-serif;
}

p {
	font-size: 16px;
	color: #cdcdcd;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

footer {
  margin-top: 0px;
  height: 300px;
  background-color: #D5D9DA;
}
